


<div class="container-fluid mx-auto p-3">


  <div class="row">

    <div class="col">
      <div class="card text-bg-warning">
        <div class="row g-2 ">
          <div class="col-md-4 p-3 ">
            <img src="../../../assets/icons/condicionmedica.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Condicion medica</h5>
              <p class="card-text">Consulte y registre cualquier condicion medica que tenga.</p>
              <button type="button" class="btn btn-light" (click)="goMenu(1)">Ingresar</button>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col">

      <div class="card text-bg-info mb-3" style="max-width: 18rem;">
        <div class="row g-0">
          <div class="col-md-4 p-3 ">
            <img src="../../../assets/icons/sintomas.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sintomas</h5>
              <p class="card-text">Consulte y registre cualquier sintoma.</p>
              <button type="button" class="btn btn-light" (click)="goMenu(2)">Ingresar</button>

            </div>
          </div>
        </div>
      </div>

    </div>
<div class="col">



  <div class="card text-bg-success mb-3" style="max-width: 18rem;">

    <div class="row g-0">
      <div class="col-md-4  p-3">
        <img src="../../../assets/icons/diagnostico.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Diagnostico</h5>
          <p class="card-text">Consulte su diagnostico medico.</p>
          <button type="button" class="btn btn-light" (click)="goMenu(3)">Ingresar</button>

        </div>
      </div>
    </div>

  </div>
</div>

  </div>
</div>
